.App {
    text-align: center;
    max-width: 720px;
    margin: auto;
}

.dropField {
    transition: 0.25s all linear;
    border-radius: 20px;
}

.dropField:hover {
    background-color: cornsilk;
}
